eureka:
  client:
    serviceUrl:
      #注册中心的地址
      defaultZone: http://hereprovides.com:8761/eureka/
server:
  #当前服务端口号
  port: 8764
spring:
  application:
    #当前应用名称
    name: service-table
  rabbitmq:
    host: hereprovides.com
    port: 5672
    username: admin
    password: admin
  cloud:
    stream:
      bindings:
        input:
          destination: mqTableMessage
  redis:
    database: 0
    host: hereprovides.com
    port: 6379
    password:
    pool:
      max-idle: 8
      min-idle: 0
      max-active: 8
      max-wait: -1
      timeout: 5000